[Unit]
Description=Gunicorn instance to serve IRP2
After=network.target

[Service]
User={{ user }}
Group={{ group }}
WorkingDirectory={{ project_path }}
Environment="PATH={{ virtualenv_path }}/bin" "GOOGLE_APPLICATION_CREDENTIALS={{ virtualenv_path }}/gcloud_keyfile.json"
ExecStart={{ virtualenv_path }}/bin/gunicorn --workers 3 --bind unix:{{ virtualenv_path }}/irp2.sock wsgi:app

[Install]
WantedBy=multi-user.target
