server {
  root /usr/share/nginx/www;
  index index.html index.htm;
  server_name {{ server_name }}

  listen *:80;

  location / {
    include proxy_params;
    proxy_pass http://unix:{{ virtualenv_path }}/irp2.sock;
  }
}
