{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      function detail(item){
            $(".col-xs-8").children().hide();
            $(".col-xs-8").append("<h3 class='detail'>Detail for id: " +item+ "</h3>");
            {% for result in results %}
                if ({{result["id"]}} == item)
                {

                    $(".col-xs-8").append("<table class='detail' width=100% style='border-style:None;'>\
                                                <tr><td width=20%><b>ID:</b></td><td>{{result['id']}}</td></tr>\
                                                <tr><td width=20%><b>Content:</b></td><td>{{result['detail']}}</td></tr>\
                                                <tr><td width=20%><b>Year:</b></td><td>{{result['date']}}</td></tr>\
                                                <tr><td width=20%><b>Type:</b></td><td>{{result['type']}}</td></tr>\
                                                <tr><td width=20%><b>Quantity:</b></td><td>{{result['quantity']}}</td></tr>\
                                                <tr><td width=20%><b>Collection:</b></td><td>{{result['collection']}}</td></tr>\
                                                <tr><td width=20%><b>Note:</b></td><td>{{result['cnote']}}</td></tr>\
                                                <tr><td width=20%><b>Series:</b></td><td>{{result['series']}}</td></tr>\
                                                <tr><td width=20%><b>Item note:</b></td><td>{{result['lnote']}}</td></tr>\
                                            </table>");
                }
            {% endfor %}
            $(".col-xs-8").append("<a href='#' onclick='show()' class ='detail'>Back</a>");
      }

      function show(){
        $(".col-xs-8").children().show();
        $(".detail").remove();
      }

      function showopt(){
        $(".s").remove();
        if ($("[name='title']").val()=="I. ADMINISTRATIVE SERVICES"){
            $("[name='series']").append('<option class="s" value="A. General">A. General</option>\
                                <option class="s" value="B. Administrative functioning">B. Administrative functioning</option>\
                                <option class="s" value="1. Personnel management">-> 1. Personnel management</option>\
                                <option class="s" value="2. Bookkeeping and supplies service (economaat/économat)">-> 2. Bookkeeping and supplies service (economaat/économat)</option>\
                                <option class="s" value="3. Administration of the management board">-> 3. Administration of the management board</option>');

        }
        if ($("[name='title']").val()=="II. MANAGEMENT BOARD"){

            $("[name='series']").append('<option class="s" value="A. Governing committee of the DIV/OIL">A. Governing committee of the DIV/OIL</option>\
                        <option class="s" value="1. Series of handwritten minutes">-> 1. Series of handwritten minutes</option>\
                        <option class="s" value="2. Series of minutes in files">-> 2. Series of minutes in files</option>\
                        <option class="s" value="B. Management board of the DER">B. Management board of the DER</option>\
                        <option class="s" value="1. Series of handwritten minutes">-> 1. Series of handwritten minutes</option>\
                        <option class="s" value="2. Series of minutes in files">-> 2. Series of minutes in files</option>\
                        <option class="s" value="3. Series of minutes in files">-> 3. Series of minutes in files</option>\
                        <option class="s" value="4. Appendices to the minutes of the management board">-> 4. Appendices to the minutes of the management board</option>\
                        ');
        }
        if ($("[name='title']").val()=="III. DIRECTORATE RECOVERY"){
             $("[name='series']").append('<option class="s" value="A. Recovery of looted artworks">A. Recovery of looted artworks</option>\
                                            <option class="s" value="1. Coordination of the restitution policy">-> 1. Coordination of the restitution policy</option>\
                                            <option class="s" value="2. Classification of data">-> 2. Classification of data</option>\
                                            <option class="s" value="B. Recovery of ships and cargo">B. Recovery of ships and cargo</option>\
                                            <option class="s" value="1. Elaboration of the jurisprudence regarding recovery">-> 1. Elaboration of the jurisprudence regarding recovery</option>\
                                            <option class="s" value="2. Handling recovery requests">-> 2. Handling recovery requests</option>\
                                            <option class="s" value="C. Restitution of foreign exchanges">C. Restitution of foreign exchanges</option>');
        }
        if ($("[name='title']").val()=="IV. DIRECTORATE REPARATIONS"){
             $("[name='series']").append('<option class="s" value="A. Contacts with the IARA">A. Contacts with the IARA</option>\
                                <option class="s" value="1. General" >-> 1. General</option>\
                                <option class="s" value="2. Belgian delegation to the IARA" >-> 2. Belgian delegation to the IARA</option>\
                                <option class="s" value="B. Administration of goods from reparations" >B. Administration of goods from reparations</option>\
                                <option class="s" value="1. General administration">-> 1. General administration</option>\
                                <option class="s" value="2. Sale and allocation of goods to the private sector" >-> 2. Sale and allocation of goods to the private sector</option>\
                                ');
        }
        if ($("[name='title']").val()=="V. DIRECTORATE GOVERNMENT OPERATIONS"){
             $("[name='series']").append('<option class="s" value="A. Domestic market">A. Domestic market</option>\
                                <option class="s" value="1. Gathering information about the Belgian coal industry">-> 1. Gathering information about the Belgian coal industry</option>\
                                <option class="s" value="2. Support to Belgian flax industry">-> 2. Support to Belgian flax industry</option>\
                                <option class="s" value="B. Foreign relations">B. Foreign relations</option>\
                                <option class="s" value="1. East-Germany ">-> 1. East-Germany </option>\
                                <option class="s" value="2. Turkey">-> 2. Turkey</option>');
        }
      }


</script>
        <div class="col-xs-8 col-md-8">
            <form method=POST action="{{ url_for('advsearch') }}">
                <h3>Advanced Search</h3>
                <table width="100%" style="border-style:None;" class="adsearch">
                    <tr><td>Search By Content:</td>
                        <td>
                            <input type="text" class="text" name="text"/>
                        </td></tr>

                    <tr><td>Search By Year:</td>
                        <td>
                            <input type="text" class="text" name="date"/>
                        </td></tr>

                    <tr><td>Search By Name:</td>
                        <td>
                            <input type="text" class="text" name="name"/>
                        </td></tr>

                    <tr><td>Search By Category:</td>
                        <td>
                            <select name = "title" onchange="showopt()">
                                <option value="">Any</option>>
                                <option value="I. ADMINISTRATIVE SERVICES">ADMINISTRATIVE SERVICES</option>
                                <option value="II. MANAGEMENT BOARD">MANAGEMENT BOARD</option>
                                <option value="III. DIRECTORATE RECOVERY">DIRECTORATE RECOVERY</option>
                                <option value="IV. DIRECTORATE REPARATIONS">DIRECTORATE REPARATIONS</option>
                                <option value="V. DIRECTORATE GOVERNMENT OPERATIONS">DIRECTORATE GOVERNMENT OPERATIONS</option>
                                <option value="VI. ARCHIVES MANAGEMENT AT THE COMMERCIAL OFFICE FOR PROVISIONING AND THE BELGIAN OFFICE FOR ECONOMY AND AGRICULTURE (BDBL/OBEA)">ARCHIVES MANAGEMENT AT THE COMMERCIAL</option>
                                <option value="VII. ARCHIVAL DOCUMENTS WITH NO SPECIFIC RELATION">ARCHIVAL DOCUMENTS WITH</option>

                            </select>
                        </td></tr>

                    <tr><td>Search By Series:</td>
                        <td>
                            <select name = "series" style="min-width:430px">
                                <option value="">Any</option>




                            </select>
                        </td></tr>

                    <tr><td>Search By Type:</td>
                        <td>

                            <select name = "type">
                                <option value="">Any</option>>
                                <option value="bundle">bundle</option>
                                <option value="envelope">envelope</option>
                                <option value="document">document</option>
                                <option value="volume">volume</option>
                                <option value="box">box</option>
                                <option value="other">other</option>
                            </select>

                        </td></tr>
                </table>

                <center><input type="submit" value="search"/></center>

            </form>
            {% if results %}
            <table class="results" width=100% style="text-align:center; ">
                <tr style = "background-color: #566b6f;font-family: Arial, sans-serif;color: white;">
                    <td width=10% style="font-size:20px;"><b>ID</b></td>
                    <td width = 50% style="font-size:20px;"><b>Content</b></td>
                    <td width=10% style="font-size:20px;"><b>Date range</b></td>
                    <td width=10% style="font-size:20px;"><b>Type</b></td>
                    <td width=10% style="font-size:20px;"><b>Collection</b></td></tr>
                {% for result in results %}
                    <tr><td><a href="#" onclick="detail({{result['id']}})">{{result["id"]}}</a></td><td>{{result["detail"]}}</td><td>{{result["date"]}}</td><td>{{result["type"]}}</td><td>{{result["collection"]}}</td></tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
     </div>
{% endblock %}
