{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h1>Search</h1>
  <form id="searchForm" method="GET" action="{{ url_for('search') }}">
    <div class="form-group row">
      <label for="inputKeywords" class="col-sm-2 form-control-label">Keywords</label>
      <div class="col-sm-10">
        <input id="inputKeywords" type="text" class="form-control"
          placeholder="keywords or &quot;a phrase&quot;" name="keywords"
{% if inputs is defined %}
          value="{{ inputs.keywords }}"
{% endif %}
          />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Translate Keywords</label>
      <div class="col-sm-10">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" data-id="fr" class="translate btn btn-secondary">French</button>
          <button type="button" data-id="de" class="translate btn btn-secondary">German</button>
        </div>
      </div>
    </div>
    <div class="mybuttonrow form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-success">Start Search</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
{% if '_uname' in session %}
        <div class="btn-group" role="group" aria-label="Basic example">
          <button id="SaveSearch" type="button" class="btn btn-primary">Save Search</button>
          <button id="getLink" type="button" class="btn btn-primary">Get Link</button>
        </div>
{% endif %}
      </div>
    </div>
    <div class="panel-group">
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" href="#collapse1">Show Advanced Fields <span class="glyphicon glyphicon-collapse-down"/></a>
         </h4>
       </div>
       <div id="collapse1" class="panel-collapse collapse">
         <div class="panel-body">
           <div class="form-group row">
             <label for="inputArtist" class="col-sm-2 form-control-label">Artist</label>
             <div class="col-sm-10">
               <input id="inputArtist" type="text" class="form-control"
                 placeholder="artist name" name="artist"
{% if inputs is defined %}
                 value="{{ inputs.artist }}"
{% endif %}
                 />
             </div>
           </div>
           <div class="form-group row">
             <label for="inputLocation" class="col-sm-2 form-control-label">Location</label>
             <div class="col-sm-10">
               <input id="inputLocation" type="text" class="form-control"
                 placeholder="location" name="location"
{% if inputs is defined %}
                 value="{{ inputs.location }}"
{% endif %}
                 />
             </div>
           </div>
           <div class="form-group row">
             <label for="inputTechnique" class="col-sm-2 form-control-label">Technique</label>
             <div class="col-sm-10">
               <input id="inputTechnique" type="text" class="form-control"
                 placeholder="technique" name="technique"
{% if inputs is defined %}
                 value="{{ inputs.technique }}"
{% endif %}
                 />
             </div>
           </div>
           <!--Years from
           <input type="text" class="text" name="startYear" placeholder="E.G. 1933"{% if inputs is defined %} value="{{ inputs.startYear }}"{% endif %}</input>
           to
           <input type="text" class="text" name="endYear" placeholder="E.G. 1955"{% if inputs is defined %} value="{{ inputs.endYear }}"{% endif %}/><br />-->
           <!-- Owner
           <input type="text" class="text" name="owner"{% if inputs is defined %} value="{{ inputs.owner }}"{% endif %}/><br />-->
         </div>
         <div class="panel-footer">Only some collections support the advanced search fields. Other will use them as keywords.</div>
       </div>
     </div>
   </div>
  </form>
</div>

<div class="container">
  <!--h1>Results</h1-->
  <table id="collectionsTable" class="table table-striped">
    <thead>
      <tr><th>Collection</th><th>Features</th><th>Dates</th><th>Locations</th><th>Hits</th></tr>
    </thead>
    <tbody>
{% for node in collections['@graph']|sort(attribute='rdfs:label') %}
{% if node['@type'] in ["a:Database","a:FindingAid", "a:Collection"] %}
      <tr data-id="{{ node['@id'] }}">
        <td class="coll_label"><h4 class="collection-modal"><a>{{ node['rdfs:label'] }}</a></h4></td>
        <td class="features mycol-sm-1">
        </td>
        <td class="dates mycol-sm-3">
        </td>
        <td class="coverage mycol-sm-3">
        </td>
        <td class="result col-sm-1"></td>
      </tr>
{% endif %}
{% endfor %}
    <tbody>
  </table>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="myModel-title" class="modal-title">Modal Header</h4>
      </div>
      <div id="myModel-body" class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- AJAX search script -->
<script type="text/javascript">
var collection_idx = new Map();
var organization_idx = new Map();
var term_idx = new Map();
var icon_idx = new Map([
  ["digitized images", "picture"],
  ["finding aids", "folder-open"],
  ["artifact documentation", "tag"],
]);

$("button.translate").click(function() {
  var language_code = $(this).attr('data-id');
  var text = $('#inputKeywords').val();
  $.post('/translate', {'language': language_code, 'text': text}, function(data) {
    mydata = $('<textarea />').html(data).text();
    $('#inputKeywords').val(mydata)
  }, 'text');
});

$('#getLink').click(function() {
  var link = $(location).attr('href');
  var data = $( "#searchForm" ).serializeArray();
  data = data.filter(isNotEmpty);
  if(link.indexOf('?') > 0) {
    link = link.substring(0, link.indexOf('?')+1);
  }
  link += $.param(data)
  $(this).parents('.mybuttonrow').after(`
    <div class="form-group row">
    <div class="alert alert-info fade in col-sm-offset-2 col-sm-10">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Link</strong> <a href='`+link+"'>"+link+"</div></div>");
});
function isNotEmpty(value) {
  return value['value'].length > 0;
}

$.when( $.getJSON( "static/collections_ld.json"),
        $.getJSON( "static/getty_vocab_subset_ld.json") )
  .done( function( coll_data, term_data ) {
    var graph = coll_data[0]['@graph'];
    for( var idx = 0; idx < graph.length; idx++ ) {
      if( graph[idx]['@type'] == "foaf:Organization" ) {
        organization_idx.set(graph[idx]['@id'], graph[idx]);
      } else {
        collection_idx.set(graph[idx]['@id'], graph[idx]);
      }
    }
    term_data[0].forEach( function( node ) {
      term_idx.set(node['@id'], node);
    });
    $("td.coll_label").children().append( function() {
      var result = "";
      id = $(this).parents('tr').attr('data-id');
      coll = collection_idx.get(id);
      var pubs = coll['dc:publisher'];
      if(pubs.constructor === Array) {
        // nothing
      } else {
        pubs = [pubs];
      }
      for( var idx = 0; idx < pubs.length; idx++ ) {
        var pub = organization_idx.get(pubs[idx]);
        if((typeof(pub) !== 'undefined') && (pub !== null)) {
          result += "<br /><h5>"+pub['rdfs:label']+"</h5>";
        }
      }
      return result;
    });
    $("td.coverage").append( function() {
      return makeLDFacetBadges("dc:coverage", $(this).parents('tr').attr('data-id'));
    });
    $("td.features").append( function() {
      return makeLDFacetBadges("features", $(this).parents('tr').attr('data-id'));
    });
    $("td.dates").append( function() {
      var id = $(this).parents('tr').attr('data-id');
      var coll = collection_idx.get(id);
      return coll['dc:date']['start']+" - "+coll['dc:date']['end'];
    });
    // click that highlights any instance of same facet
    $("span.facet").click(function() {
      var facet_id = $(this).attr('data-id');
      $("span.facet").each( function( node ) {
        if( $(this).attr('data-id') == facet_id ) {
          $(this).parent().addClass("btn-success");
        } else {
          $(this).parent().removeClass("btn-success");
        }
      });
    });
});

function makeLDFacetBadges(pred, coll_id) {
  var result = "";
  var coll = collection_idx.get(coll_id);
  var terms = coll[pred];

  if((typeof(terms) === 'undefined') || (terms === null)) return result;
  for( var i = 0; i < terms.length; i++ ) {
    var termid = terms[i];
    var label = termid;
    // now we have an id of a tarm listed under this key
    // TODO add label sorting (build a map and array)
    var term = term_idx.get(termid);
    if( term != null) {
      label = term['http://www.w3.org/2004/02/skos/core#prefLabel']
        .find( function(node) { return node['@language'] == 'en' })['@value'];
    }
    var icon = icon_idx.get(termid);
    if( icon != null ) {
      result += '<a class="btn btn-lg" role="button">';
      result += '<span data-id="'+termid+'" class="facet glyphicon glyphicon-'+icon+'" data-toggle="tooltip" title="'+label+'"></span>';
    } else {
      result += '<a class="btn btn" role="button">';
      result += '<span data-id="'+termid+'" class="facet badge">'+label+'</span>';
    }
    result += '</a>';
  }
  return result;
}

// Turn on tooltips
$('[data-toggle="tooltip"]').tooltip();

// Enable modals for collection pages
$(function() {
  $(".collection-modal").click(function() {
    var row_id = $(this).parents('tr').attr('data-id');
    $('#myModel-title').html($(this).html())
    $('#myModel-body').html('<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>');
    $('#myModal').modal({show:true});
    $('#myModel-body').load( "/static/collections/"+row_id+".html #container");
  });
});

var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$( "#searchForm" ).submit( function( event ) {
  event.preventDefault();
  // for each non-header row in collections, post the form w/colleciton id
  $('#collectionsTable > tbody > tr').each(
    function() {
      // TODO start spinner in hit column
      //row = this;
      $(this).find('.result').html('<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>');
      formdata = $( "#searchForm" ).serializeArray();
      formdata.push(  {
        name: "collectionid",
        value: $(this).data('id')
      });
      $.post( "/searchAJAX", formdata,
        function( data ) {
          $('#collectionsTable > tbody > tr').find()
          $('[data-id="'+data.class+'"]').find('.result').html(
            data.results_count > 0 ?
              '<a href="'+data.results_url+'" target="_blank" class="btn btn-success" role="button">'+
              '<span class="badge">'+data.results_count+'</span> Hits</a>' :
              '<a href="'+data.results_url+'" target="_blank" class="btn btn-default" role="button">'+
              '<span class="badge">'+data.results_count+'</span> Hits</a>'
          );
        }, 'json');
    });
});

$('#SaveSearch').click(function() {
  formdata = $( "#searchForm" ).serializeArray();
  $.post('/saveSearch', {
        savedata: JSON.stringify(formdata)
      }, function(data) {
        if( data['result'] == 'yes') {
          $("div.mybuttonrow").after(
            `<div class="mybuttonrow form-group row">
            <div class="alert alert-success fade in col-sm-offset-2 col-sm-10">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Saved</strong> Your search parameters have been saved.
            </div></div>`);
        } else {
          $("div.mybuttonrow").after(
            `<div class="mybuttonrow form-group row">
            <div class="alert alert-danger fade in col-sm-offset-2 col-sm-10">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Error</strong> We failed to save your search.
            </div></div>`);
        }
      }, 'json');
})
</script>


<!-- Autocomplete artist name field -->
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function() {
  $("#inputLocation").autocomplete({
    source : function(request, response) {
      var URL_PREFIX = "/solr/location/select?q=label:";
      var URL_MIDDLE = " OR label_ngram:";
      var URL_SUFFIX = "&wt=json&rows=20";
      var searchString = "\"" + $("#inputLocation").val() + "\"";
      var URL = URL_PREFIX + searchString + URL_MIDDLE + searchString + URL_SUFFIX;
      $.ajax({
        url : URL,
        success : function(data) {
          var docs = JSON.stringify(data.response.docs);
          var jsonData = JSON.parse(docs);
          response(
            $.map(jsonData, function(item) { return { label: item.label+" ("+item.hint+")", value : '"'+item.name+'"' } } )
          );
        },
        dataType : 'jsonp',
        jsonp : 'json.wrf'
      });
    },
    minLength : 3
  });
  $("#inputArtist").autocomplete({
    source : function(request, response) {
      var URL_PREFIX = "/solr/artist/select?q=label:";
      var URL_MIDDLE = " OR label_ngram:";
      var URL_SUFFIX = "&wt=json&rows=20";
      var searchString = "\"" + $("#inputArtist").val() + "\"";
      var URL = URL_PREFIX + searchString + URL_MIDDLE + searchString + URL_SUFFIX;
      $.ajax({
        url : URL,
        success : function(data) {
          var docs = JSON.stringify(data.response.docs);
          var jsonData = JSON.parse(docs);
          response(
            $.map(jsonData, function(item) { return { label: item.label+" ("+item.hint+")", value : '"'+item.name+'"' } } )
          );
        },
        dataType : 'jsonp',
        jsonp : 'json.wrf'
      });
    },
    minLength : 3
  });
  $("#inputTechnique").autocomplete({
    source : function(request, response) {
      var URL_PREFIX = "/solr/technique/select?q=label:";
      var URL_MIDDLE = " OR label_ngram:";
      var URL_SUFFIX = "&wt=json&rows=20";
      var searchString = "\"" + $("#inputTechnique").val() + "\"";
      var URL = URL_PREFIX + searchString + URL_MIDDLE + searchString + URL_SUFFIX;
      $.ajax({
        url : URL,
        success : function(data) {
          var docs = JSON.stringify(data.response.docs);
          var jsonData = JSON.parse(docs);
          response(
            $.map(jsonData, function(item) { return { label: item.label+" ("+item.hint+")", value : '"'+item.name+'"' } } )
          );
        },
        dataType : 'jsonp',
        jsonp : 'json.wrf'
      });
    },
    minLength : 3
  });
});
</script>
{% endblock %}
