{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h1>Search</h1>
  <form id="searchForm" method="GET" action="{{ url_for('search') }}">
    <div class="form-group row">
      <label for="inputKeywords" class="col-sm-2 form-control-label">Keywords</label>
      <div class="col-sm-10">
        <input id="inputKeywords" type="text" class="form-control"
          placeholder="keywords or &quot;a phrase&quot;" name="keywords"
{% if inputs is defined %}
          value="{{ inputs.keywords }}"
{% endif %}
          />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Keyword Translation</label>
      <div class="col-sm-10">
          <label class="checkbox-inline">
            <input type="checkbox" name="languages" value="fr"/>
            French
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="languages" value="de"/>
            German
          </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Search</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
{% if '_uname' in session %}
        <button id="SaveSearch" type="submit"
          formaction="/saveSearch" class="btn btn-primary">Save Search</button>
        <a href="javascript: emailCurrentPage()"/>
          <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
        </a>
{% endif %}
      </div>
    </div>
    <hr />
    Advanced Search (not styled yet..)
    <p><br />Some collections support these fields:<br />
      <!--Years from <input type="text" class="text" name="startYear" placeholder="E.G. 1933"{% if inputs is defined %} value="{{ inputs.startYear }}"{% endif %}</input>
      to <input type="text" class="text" name="endYear" placeholder="E.G. 1955"{% if inputs is defined %} value="{{ inputs.endYear }}"{% endif %}/><br />-->
      Artist/Creator
      <input id="artist" type="text" class="text" name="artist"{% if inputs is defined %} value="{{ inputs.artist }}"{% endif %}/>
      <br />
      <!-- Owner <input type="text" class="text" name="owner"{% if inputs is defined %} value="{{ inputs.owner }}"{% endif %}/><br />-->
      Location
      <input id="location" type="text" class="text" name="location"{% if inputs is defined %} value="{{ inputs.location }}"{% endif %}/>
      <br />
    </p>
  </form>
</div>

<div class="container">
  <h1>Collection Results</h1>
  <table id="collectionsTable" class="table table-striped">
    <thead>
      <tr><th>Collection Name</th><th>Coverage</th><th>Hits</th></tr>
    </thead>
    <tbody>
{% for node in collections['@graph']|sort(attribute='rdfs:label') %}
{% if node['@type'] in ["a:Database","a:FindingAid", "a:Collection"] %}
      <tr id="{{ node['@id'] }}">
        <td>{{ node['rdfs:label'] }}</td>
        <td>{{ '%s' % ', '.join(node['dc:coverage']) if node['dc:coverage'] }}</td>
        <td></td>
      </tr>
{% endif %}
{% endfor %}
    <tbody>
  </table>

  <ul>
    <li>On search submit, fire AJAX queries for each collection</li>
    <li>As results arrive, render in collection row</li>
  </ul>
</div>

<!-- AJAX search script -->
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$( "#searchForm" ).submit( function( event ) {
  // for each non-header row in collections, post the form w/colleciton id
  $('#collectionsTable > tbody > tr').each(
    function() {
      // TODO start spinner in hit column
      formdata = $( "#searchForm" ).serializeArray();
      formdata.push(  {
        name: "collectionid",
        value: this.id
      });
      $.post( "/searchAJAX", formdata,
        function( data ) {
          // TODO update hit column
          alert(data);
        }, 'json');
    });
  event.preventDefault();
});
</script>
{% endblock %}
