{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h1>Search</h1>
  <form id="searchForm" method="GET" action="{{ url_for('search') }}">
    <div class="form-group row">
      <label for="inputKeywords" class="col-sm-2 form-control-label">Keywords</label>
      <div class="col-sm-10">
        <input id="inputKeywords" type="text" class="form-control"
          placeholder="keywords or &quot;a phrase&quot;" name="keywords"
{% if inputs is defined %}
          value="{{ inputs.keywords }}"
{% endif %}
          />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Keyword Translation</label>
      <div class="col-sm-10">
          <label class="checkbox-inline">
            <input type="checkbox" name="languages" value="fr"/>
            French
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="languages" value="de"/>
            German
          </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Search</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
{% if '_uname' in session %}
        <button id="SaveSearch" type="submit"
          formaction="/saveSearch" class="btn btn-primary">Save Search</button>
        <a href="javascript: emailCurrentPage()"/>
          <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
        </a>
{% endif %}
      </div>
    </div>
    <div class="panel-group">
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" href="#collapse1">Advanced <span class="glyphicon glyphicon-collapse-down"/></a>
         </h4>
       </div>
       <div id="collapse1" class="panel-collapse collapse">
         <div class="panel-body">
           <div class="form-group row">
             <label for="inputArtist" class="col-sm-2 form-control-label">Artist</label>
             <div class="col-sm-10">
               <input id="inputArtist" type="text" class="form-control"
                 placeholder="artist name" name="artist"
{% if inputs is defined %}
                 value="{{ inputs.artist }}"
{% endif %}
                 />
             </div>
           </div>
           <div class="form-group row">
             <label for="inputLocation" class="col-sm-2 form-control-label">Location</label>
             <div class="col-sm-10">
               <input id="inputLocation" type="text" class="form-control"
                 placeholder="location" name="location"
{% if inputs is defined %}
                 value="{{ inputs.location }}"
{% endif %}
                 />
             </div>
           </div>
           <!--Years from
           <input type="text" class="text" name="startYear" placeholder="E.G. 1933"{% if inputs is defined %} value="{{ inputs.startYear }}"{% endif %}</input>
           to
           <input type="text" class="text" name="endYear" placeholder="E.G. 1955"{% if inputs is defined %} value="{{ inputs.endYear }}"{% endif %}/><br />-->
           <!-- Owner
           <input type="text" class="text" name="owner"{% if inputs is defined %} value="{{ inputs.owner }}"{% endif %}/><br />-->
         </div>
         <div class="panel-footer">Only some collections support the advanced search fields. Other will use them as keywords.</div>
       </div>
     </div>
   </div>
  </form>
</div>

<div class="container">
  <h1>Results</h1>
  <table id="collectionsTable" class="table table-striped">
    <thead>
      <tr><th>Collection</th><th>Coverage</th><th>Hits</th></tr>
    </thead>
    <tbody>
{% for node in collections['@graph']|sort(attribute='rdfs:label') %}
{% if node['@type'] in ["a:Database","a:FindingAid", "a:Collection"] %}
      <tr id="{{ node['@id'] }}">
        <td>{{ node['rdfs:label'] }}</td>
        <td class="col-sm-3">{{ '%s' % ', '.join(node['dc:coverage']) if node['dc:coverage'] }}</td>
        <td class="result col-sm-2"></td>
      </tr>
{% endif %}
{% endfor %}
    <tbody>
  </table>
</div>

<!-- AJAX search script -->
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$( "#searchForm" ).submit( function( event ) {
  event.preventDefault();
  // for each non-header row in collections, post the form w/colleciton id
  $('#collectionsTable > tbody > tr').each(
    function() {
      // TODO start spinner in hit column
      //row = this;
      $(this).find('.result').html('<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>');
      formdata = $( "#searchForm" ).serializeArray();
      formdata.push(  {
        name: "collectionid",
        value: this.id
      });
      $.post( "/searchAJAX", formdata,
        function( data ) {
          $('#'+data.class).find('.result').html('<a href="'+data.results_url+'" target="_blank" class="btn btn-primary" role="button"><span class="badge">'+data.results_count+'</span> Hits</a>');
        }, 'json');
    });
});
</script>

<!-- Autocomplete artist name field -->
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function() {
  $("#inputLocation").autocomplete({
    source : function(request, response) {
      var URL_PREFIX = "/solr/location/select?q=label:";
      var URL_MIDDLE = " OR label_ngram:";
      var URL_SUFFIX = "&wt=json&rows=20";
      var searchString = "\"" + $("#inputLocation").val() + "\"";
      var URL = URL_PREFIX + searchString + URL_MIDDLE + searchString + URL_SUFFIX;
      $.ajax({
        url : URL,
        success : function(data) {
          var docs = JSON.stringify(data.response.docs);
          var jsonData = JSON.parse(docs);
          response(
            $.map(jsonData, function(item) { return { label: item.label+" ("+item.hint+")", value : item.name } } )
          );
        },
        dataType : 'jsonp',
        jsonp : 'json.wrf'
      });
    },
    minLength : 3
  })
  $("#inputArtist").autocomplete({
    source : function(request, response) {
      var URL_PREFIX = "/solr/artist/select?q=label:";
      var URL_MIDDLE = " OR label_ngram:";
      var URL_SUFFIX = "&wt=json&rows=20";
      var searchString = "\"" + $("#inputArtist").val() + "\"";
      var URL = URL_PREFIX + searchString + URL_MIDDLE + searchString + URL_SUFFIX;
      $.ajax({
        url : URL,
        success : function(data) {
          var docs = JSON.stringify(data.response.docs);
          var jsonData = JSON.parse(docs);
          response(
            $.map(jsonData, function(item) { return { label: item.label+" ("+item.hint+")", value : item.name } } )
          );
        },
        dataType : 'jsonp',
        jsonp : 'json.wrf'
      });
    },
    minLength : 3
  })
});
</script>
{% endblock %}
