{% extends "layout.html" %} {% block body %}
<div class="container">
  <h1>Glossary of Terms</h1>
  <p>These are lists of common terms and concepts that researchers are likely to encounter when searching through the international
    repositories. These terms are frequently found in the records, but do not reflect all potential search terms or concepts.
    Each institution has provided a list of search terms in the national language of the institution.</p>
  <table width="100%" class="smaller">
    <tr>
      <th>English (U.S.)</th>
      <th>German</th>
    </tr>
    <tr>
      <td valign="top">ALIU [Art Looting Investigation Unit]</td>
      <td valign="top">ALIU
      </td>

    </tr>
    <tr>
      <td valign="top">Allied Control Authority</td>
      <td valign="top">Alliierte Kontrollbeh&ouml;rden
      </td>

    </tr>
    <tr>
      <td valign="top">Allied Control Council</td>
      <td valign="top">Alliierter Kontrollrat
      </td>

    </tr>
    <tr>
      <td valign="top">Alt Aussee</td>
      <td valign="top">Alt Aussee
      </td>

    </tr>
    <tr>
      <td valign="top">American Commission for the Protection and Salvage of Artistic and Historic Monuments in War Areas [Roberts Commission]</td>
      <td valign="top">Roberts Kommission
      </td>

    </tr>
    <tr>
      <td valign="top">Archives</td>
      <td valign="top">Archive
      </td>

    </tr>
    <tr>
      <td valign="top">Art Looting</td>
      <td valign="top">Kunstraub
      </td>

    </tr>
    <tr>
      <td valign="top">Art Looting Investigation Unit</td>
      <td valign="top">Kunstraub Untersuchungs-einheit
      </td>

    </tr>
    <tr>
      <td valign="top">Artists (Artist)</td>
      <td valign="top">K&uuml;nstler
      </td>

    </tr>
    <tr>
      <td valign="top">Aryanization</td>
      <td valign="top">Arisierung
      </td>

    </tr>
    <tr>
      <td valign="top">Assets</td>
      <td valign="top">Verm&ouml;gen
      </td>

    </tr>
    <tr>
      <td valign="top">Auction House</td>
      <td valign="top">Auktionshaus
      </td>

    </tr>
    <tr>
      <td valign="top">Auctions</td>
      <td valign="top">Auktion
      </td>

    </tr>
    <tr>
      <td valign="top">Berchtesgaden</td>
      <td valign="top">Berchtesgaden
      </td>

    </tr>
    <tr>
      <td valign="top">Black Market</td>
      <td valign="top">Schwarzer Markt
      </td>

    </tr>
    <tr>
      <td valign="top">Blocking</td>
      <td valign="top">Sperrung
      </td>

    </tr>
    <tr>
      <td valign="top">Books</td>
      <td valign="top">B&uuml;cher
      </td>

    </tr>
    <tr>
      <td valign="top">Carinhall</td>
      <td valign="top">Carinhall
      </td>

    </tr>
    <tr>
      <td valign="top">Central Collecting point</td>
      <td valign="top">Zentraler Sammelpunkt
      </td>

    </tr>
    <tr>
      <td valign="top">Claims</td>
      <td valign="top">Anspr&uuml;che/Sch&auml;den
      </td>

    </tr>
    <tr>
      <td valign="top">Collections</td>
      <td valign="top">Sammlungen
      </td>

    </tr>
    <tr>
      <td valign="top">Collectors</td>
      <td valign="top">Sammler
      </td>

    </tr>
    <tr>
      <td valign="top">Confiscation</td>
      <td valign="top">Beschlagnahme
      </td>

    </tr>
    <tr>
      <td valign="top">Consolidated Interrogation Report [CIR]</td>
      <td valign="top">CIR
      </td>

    </tr>
    <tr>
      <td valign="top">Control Council</td>
      <td valign="top">Kontrollrat
      </td>

    </tr>
    <tr>
      <td valign="top">Cultural Objects</td>
      <td valign="top">Kulturg&uuml;ter
      </td>

    </tr>
    <tr>
      <td valign="top">Cultural property</td>
      <td valign="top">Kulturbesitz
      </td>

    </tr>
    <tr>
      <td valign="top">Dealers</td>
      <td valign="top">H&auml;ndler
      </td>

    </tr>
    <tr>
      <td valign="top">Degenerate Art</td>
      <td valign="top">Entartete Kunst
      </td>

    </tr>
    <tr>
      <td valign="top">Detailed interrogation Report [DIR]</td>
      <td valign="top">DIR
      </td>

    </tr>
    <tr>
      <td valign="top">Einsatzstab Reichsleiter Rosenberg [ERR]</td>
      <td valign="top">Einsatzstab Reichsleiter Rosenberg [ERR]
      </td>

    </tr>
    <tr>
      <td valign="top">ERR [Einsatzstab Reichsleiter Rosenberg]</td>
      <td valign="top">ERR [Einsatzstab Reichsleiter Rosenberg]
      </td>

    </tr>
    <tr>
      <td valign="top">External Assets</td>
      <td valign="top">Fremdverm&ouml;gen
      </td>

    </tr>
    <tr>
      <td valign="top">Fine Arts</td>
      <td valign="top">Bildende K&uuml;nste
      </td>

    </tr>
    <tr>
      <td valign="top">Flakturm</td>
      <td valign="top">Flakturm
      </td>

    </tr>
    <tr>
      <td valign="top">Gallery, Galleries</td>
      <td valign="top">Gallerie, Gallerien
      </td>

    </tr>
    <tr>
      <td valign="top">Goering</td>
      <td valign="top">Goering
      </td>

    </tr>
    <tr>
      <td valign="top">Gold</td>
      <td valign="top">Gold
      </td>

    </tr>
    <tr>
      <td valign="top">Hitler</td>
      <td valign="top">Hitler
      </td>

    </tr>
    <tr>
      <td valign="top">Intelligence</td>
      <td valign="top">Geheimdienst
      </td>

    </tr>
    <tr>
      <td valign="top">Internal Restitution</td>
      <td valign="top">Interne Restitution
      </td>

    </tr>
    <tr>
      <td valign="top">Interrogation</td>
      <td valign="top">Vernehmung
      </td>

    </tr>
    <tr>
      <td valign="top">Interzonal Exchange</td>
      <td valign="top">Interzonale Austausch
      </td>

    </tr>
    <tr>
      <td valign="top">Inventories</td>
      <td valign="top">Inventare
      </td>

    </tr>
    <tr>
      <td valign="top">Inventory Card</td>
      <td valign="top">Inventarskarte
      </td>

    </tr>
    <tr>
      <td valign="top">Jeu de Paume Museum</td>
      <td valign="top">Jeu de Paume Museum
      </td>

    </tr>
    <tr>
      <td valign="top">Jewelry</td>
      <td valign="top">Schmuck
      </td>

    </tr>
    <tr>
      <td valign="top">Jewish Property</td>
      <td valign="top">J&uuml;disches Verm&ouml;gen
      </td>

    </tr>
    <tr>
      <td valign="top">Law (Laws)</td>
      <td valign="top">Recht/Gesetz
      </td>

    </tr>
    <tr>
      <td valign="top">Library (libraries)</td>
      <td valign="top">Bibliothek/B&uuml;cherei
      </td>

    </tr>
    <tr>
      <td valign="top">Linz collection</td>
      <td valign="top">Linzer Sammlung
      </td>

    </tr>
    <tr>
      <td valign="top">Linz Museum</td>
      <td valign="top">Linzer Museum
      </td>

    </tr>
    <tr>
      <td valign="top">Looted Art</td>
      <td valign="top">Raubkunst/Beute-kunst
      </td>

    </tr>
    <tr>
      <td valign="top">Looting</td>
      <td valign="top">Raub/Pl&uuml;nderung
      </td>

    </tr>
    <tr>
      <td valign="top">Mansucripts</td>
      <td valign="top">Manuskript/Hand-schrift
      </td>

    </tr>
    <tr>
      <td valign="top">Marburg Central Collecting Point</td>
      <td valign="top">Zentraler Sammelpunkt Marburg
      </td>

    </tr>
    <tr>
      <td valign="top">Merkers</td>
      <td valign="top">Merkers
      </td>

    </tr>
    <tr>
      <td valign="top">MFA&amp;A [Monuments, Fine Arts and Archives]</td>
      <td valign="top">MFA&amp;A
      </td>

    </tr>
    <tr>
      <td valign="top">Monuments</td>
      <td valign="top">Denkm&auml;ler
      </td>

    </tr>
    <tr>
      <td valign="top">Monuments, Fine Arts and Archives [MFA&amp;A]</td>
      <td valign="top">Denkm&auml;ler
      </td>

    </tr>
    <tr>
      <td valign="top">Munich Central Collecting Point</td>
      <td valign="top">Zentraler Sammelpunkt M&uuml;nchen
      </td>

    </tr>
    <tr>
      <td valign="top">Museum</td>
      <td valign="top">Museum
      </td>

    </tr>
    <tr>
      <td valign="top">Music</td>
      <td valign="top">Musik
      </td>

    </tr>
    <tr>
      <td valign="top">Musical</td>
      <td valign="top">Musikal
      </td>

    </tr>
    <tr>
      <td valign="top">Neuschwanstein [Schloss Neuschwanstein]</td>
      <td valign="top">Neuschwanstein [Schloss Neuschwanstein]
      </td>

    </tr>
    <tr>
      <td valign="top">Offenbach Archival Depot</td>
      <td valign="top">Archivdepot Offenbach
      </td>

    </tr>
    <tr>
      <td valign="top">Painting</td>
      <td valign="top">Gem&auml;lde
      </td>

    </tr>
    <tr>
      <td valign="top">Photograph</td>
      <td valign="top">Fotographie
      </td>

    </tr>
    <tr>
      <td valign="top">Property Card</td>
      <td valign="top">Besitzkarte
      </td>

    </tr>
    <tr>
      <td valign="top">Property Cards</td>
      <td valign="top">Beseitzkarten
      </td>

    </tr>
    <tr>
      <td valign="top">Property Control</td>
      <td valign="top">Verm&ouml;genskontrolle
      </td>

    </tr>
    <tr>
      <td valign="top">Provenance</td>
      <td valign="top">Provenienz
      </td>

    </tr>
    <tr>
      <td valign="top">Receipts</td>
      <td valign="top">Beleg
      </td>

    </tr>
    <tr>
      <td valign="top">Reparation</td>
      <td valign="top">Reparation
      </td>

    </tr>
    <tr>
      <td valign="top">Repository</td>
      <td valign="top">Ablage/Lagerst&auml;tte
      </td>

    </tr>
    <tr>
      <td valign="top">Restitution</td>
      <td valign="top">R&uuml;ckgabe
      </td>

    </tr>
    <tr>
      <td valign="top">Roberts Commission [American Commission for the Protection and Salvage of Artistic and Historic Monuments in War Areas]</td>
      <td valign="top">Roberts Kommission [American Commission for the Protection and Salvage of Artistic and Historic Monuments in War Areas]
      </td>

    </tr>
    <tr>
      <td valign="top">Safehaven</td>
      <td valign="top">Safehafen
      </td>

    </tr>
    <tr>
      <td valign="top">Salt Mines (Salt Mine)</td>
      <td valign="top">Salzbergwerk(e)
      </td>

    </tr>
    <tr>
      <td valign="top">Schenker Company</td>
      <td valign="top">Schenker Spedition
      </td>

    </tr>
    <tr>
      <td valign="top">Sculpture</td>
      <td valign="top">Plastik/Skulptur
      </td>

    </tr>
    <tr>
      <td valign="top">Shipment [Shipment Receipts]</td>
      <td valign="top">Sendung/Schiffs-ladung [Lieferbeleg]
      </td>

    </tr>
    <tr>
      <td valign="top">Targets</td>
      <td valign="top">Ziele
      </td>

    </tr>
    <tr>
      <td valign="top">Vesting</td>
      <td valign="top">&Uuml;bertragung
      </td>

    </tr>
    <tr>
      <td valign="top">Wiesbaden Central Collecting Point</td>
      <td valign="top">Zentraler Sammelpunkt Wiesbaden</td>

    </tr>
  </table>

  <table class="smaller" style="margin-top: 4px;" width="100%">
    <tbody>
      <tr>
        <th>English (U.K.)</th>
      </tr>
      <tr>
        <td>Aachen</td>
      </tr>
      <tr>
        <td>Advance Reparation Deliveries</td>
      </tr>
      <tr>
        <td>Ahnenerbe</td>
      </tr>
      <tr>
        <td>Alfred Rosenberg</td>
      </tr>
      <tr>
        <td>Allied Commission for Austria</td>
      </tr>
      <tr>
        <td>Allied Expeditionary Force</td>
      </tr>
      <tr>
        <td>Allied Kommandatura Berlin</td>
      </tr>
      <tr>
        <td>Allied High Commission for Germany</td>
      </tr>
      <tr>
        <td>Alt Aussee</td>
      </tr>
      <tr>
        <td>American Commission for the Protection of Artistic and Historic Monuments in Europe</td>
      </tr>
      <tr>
        <td>American Council of Learned Societies</td>
      </tr>
      <tr>
        <td>Amsterdam Art Society</td>
      </tr>
      <tr>
        <td>Anglo-Jewish Association</td>
      </tr>
      <tr>
        <td>Antiques</td>
      </tr>
      <tr>
        <td>Archive</td>
      </tr>
      <tr>
        <td>Art</td>
      </tr>
      <tr>
        <td>Artist </td>
      </tr>
      <tr>
        <td>Art Objects</td>
      </tr>
      <tr>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Axis </td>
      </tr>
      <tr>
        <td>Axis Victims League</td>
      </tr>
      <tr>
        <td>Assets</td>
      </tr>
      <tr>
        <td>Beaux Arts</td>
      </tr>
      <tr>
        <td>Behr, Kurt Von</td>
      </tr>
      <tr>
        <td>Belgium</td>
      </tr>
      <tr>
        <td>Belongings</td>
      </tr>
      <tr>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>Board of Review</td>
      </tr>
      <tr>
        <td>Board of Deputies of British Jews</td>
      </tr>
      <tr>
        <td>Bonds</td>
      </tr>
      <tr>
        <td>Book</td>
      </tr>
      <tr>
        <td>Booty</td>
      </tr>
      <tr>
        <td>Boymans Museum, Rotterdam</td>
      </tr>
      <tr>
        <td>British Museum</td>
      </tr>
      <tr>
        <td>Brueghel</td>
      </tr>
      <tr>
        <td>Buende</td>
      </tr>
      <tr>
        <td>Bunjes Papers</td>
      </tr>
      <tr>
        <td>Business</td>
      </tr>
      <tr>
        <td>Carpet</td>
      </tr>
      <tr>
        <td>Central British Fund for Jewish Relief </td>
      </tr>
      <tr>
        <td>Central Collecting Point</td>
      </tr>
      <tr>
        <td>Cézanne</td>
      </tr>
      <tr>
        <td>Chagall</td>
      </tr>
      <tr>
        <td>Chateau</td>
      </tr>
      <tr>
        <td>China</td>
      </tr>
      <tr>
        <td>Churchill, Winston</td>
      </tr>
      <tr>
        <td>Claim</td>
      </tr>
      <tr>
        <td>Claimant</td>
      </tr>
      <tr>
        <td>Client</td>
      </tr>
      <tr>
        <td>Coins</td>
      </tr>
      <tr>
        <td>Collecting Point</td>
      </tr>
      <tr>
        <td>Commission for the Protection and Restitution of Cultural Materials</td>
      </tr>
      <tr>
        <td>Company</td>
      </tr>
      <tr>
        <td>Concentration Camp</td>
      </tr>
      <tr>
        <td>Conference of Allied Ministers of Education</td>
      </tr>
      <tr>
        <td>Control Commission for Germany</td>
      </tr>
      <tr>
        <td>Control Commission for Austria</td>
      </tr>
      <tr>
        <td>Control Office for Germany and Austria </td>
      </tr>
      <tr>
        <td>Convention for the Protection of Historic Buildings and Works of Art in Time of War</td>
      </tr>
      <tr>
        <td>Cooper, Douglas</td>
      </tr>
      <tr>
        <td>Cranach</td>
      </tr>
      <tr>
        <td>Credit</td>
      </tr>
      <tr>
        <td>Cultural Objects</td>
      </tr>
      <tr>
        <td>Cultural Property</td>
      </tr>
      <tr>
        <td>Currency</td>
      </tr>
      <tr>
        <td>Custodian</td>
      </tr>
      <tr>
        <td>Damage</td>
      </tr>
      <tr>
        <td>Dealer</td>
      </tr>
      <tr>
        <td>Debt</td>
      </tr>
      <tr>
        <td>Delivery</td>
      </tr>
      <tr>
        <td>Denkmalpflege</td>
      </tr>
      <tr>
        <td>Depository</td>
      </tr>
      <tr>
        <td>Devisenschutzkommando [Foreign currency control]</td>
      </tr>
      <tr>
        <td>Directorate of Civil Affairs</td>
      </tr>
      <tr>
        <td>Dispossessed</td>
      </tr>
      <tr>
        <td>Dispossession</td>
      </tr>
      <tr>
        <td>Drawing</td>
      </tr>
      <tr>
        <td>Dresden</td>
      </tr>
      <tr>
        <td>Duerer</td>
      </tr>
      <tr>
        <td>Durer</td>
      </tr>
      <tr>
        <td>Enemy</td>
      </tr>
      <tr>
        <td>Einsatzstab Reichsleiter Rosenberg</td>
      </tr>
      <tr>
        <td>Err</td>
      </tr>
      <tr>
        <td>European Advisory Council</td>
      </tr>
      <tr>
        <td>Export</td>
      </tr>
      <tr>
        <td>Faience</td>
      </tr>
      <tr>
        <td>Far Eastern Commission</td>
      </tr>
      <tr>
        <td>Federation of Persecutees of the Nazi Regime </td>
      </tr>
      <tr>
        <td>Firm </td>
      </tr>
      <tr>
        <td>Fischer, Theodore</td>
      </tr>
      <tr>
        <td>Florence</td>
      </tr>
      <tr>
        <td>France</td>
      </tr>
      <tr>
        <td>Freeze</td>
      </tr>
      <tr>
        <td>Fuehrer</td>
      </tr>
      <tr>
        <td>Fuehrermuseum</td>
      </tr>
      <tr>
        <td>Furniture</td>
      </tr>
      <tr>
        <td>Gemaeldegalerie</td>
      </tr>
      <tr>
        <td>General Order</td>
      </tr>
      <tr>
        <td>German Restitution Office</td>
      </tr>
      <tr>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Ghent</td>
      </tr>
      <tr>
        <td>Goering, Hermann</td>
      </tr>
      <tr>
        <td>Goudstikker</td>
      </tr>
      <tr>
        <td>Grothe, Walter</td>
      </tr>
      <tr>
        <td>Haberstock, Karl</td>
      </tr>
      <tr>
        <td>Hesse, Philipp Von</td>
      </tr>
      <tr>
        <td>Heydt, Edmund Von Der</td>
      </tr>
      <tr>
        <td>Historic Building</td>
      </tr>
      <tr>
        <td>Historic Site</td>
      </tr>
      <tr>
        <td>Hitler, Adolf</td>
      </tr>
      <tr>
        <td>Hofer, Walter Andreas</td>
      </tr>
      <tr>
        <td>Holland</td>
      </tr>
      <tr>
        <td>Import</td>
      </tr>
      <tr>
        <td>Inter-allied Declaration against Acts of Dispossession Committed in Territories under Enemy Occupation and Control
          [Inter-Allied Declaration against Axis Looting]</td>
      </tr>
      <tr>
        <td>Inter-allied Reparations Agency</td>
      </tr>
      <tr>
        <td>Intergovernmental Study Group on Germany</td>
      </tr>
      <tr>
        <td>Italy</td>
      </tr>
      <tr>
        <td>Japan</td>
      </tr>
      <tr>
        <td>Jewellery</td>
      </tr>
      <tr>
        <td>Jewels</td>
      </tr>
      <tr>
        <td>Jewish</td>
      </tr>
      <tr>
        <td>Jewish Restition Successor Organisation</td>
      </tr>
      <tr>
        <td>Jewish Trust Corporation</td>
      </tr>
      <tr>
        <td>Karinhall</td>
      </tr>
      <tr>
        <td>Kesselring, Albert</td>
      </tr>
      <tr>
        <td>Klee</td>
      </tr>
      <tr>
        <td>Kultur</td>
      </tr>
      <tr>
        <td>Kunst </td>
      </tr>
      <tr>
        <td>Kunsthalle</td>
      </tr>
      <tr>
        <td>Kunsthistorisches Museum, Vienna</td>
      </tr>
      <tr>
        <td>Kunstschutz</td>
      </tr>
      <tr>
        <td>Laender</td>
      </tr>
      <tr>
        <td>Land</td>
      </tr>
      <tr>
        <td>Leonardo</td>
      </tr>
      <tr>
        <td>Liaison Officer</td>
      </tr>
      <tr>
        <td>Library</td>
      </tr>
      <tr>
        <td>Linz</td>
      </tr>
      <tr>
        <td>List </td>
      </tr>
      <tr>
        <td>Loire</td>
      </tr>
      <tr>
        <td>London</td>
      </tr>
      <tr>
        <td>Loot</td>
      </tr>
      <tr>
        <td>Lord Macmillan</td>
      </tr>
      <tr>
        <td>Loss</td>
      </tr>
      <tr>
        <td>Louvre</td>
      </tr>
      <tr>
        <td>Macmillan Committee</td>
      </tr>
      <tr>
        <td>Mann, James G.</td>
      </tr>
      <tr>
        <td>Mannheimer Collection</td>
      </tr>
      <tr>
        <td>Maps</td>
      </tr>
      <tr>
        <td>Market</td>
      </tr>
      <tr>
        <td>Masterpieces</td>
      </tr>
      <tr>
        <td>Matisse</td>
      </tr>
      <tr>
        <td>Memling</td>
      </tr>
      <tr>
        <td>Metternich, Franz Wolff</td>
      </tr>
      <tr>
        <td>Michelangelo</td>
      </tr>
      <tr>
        <td>Miedel, Alois</td>
      </tr>
      <tr>
        <td>Minden</td>
      </tr>
      <tr>
        <td>Ministry of Supply</td>
      </tr>
      <tr>
        <td>Misappropriation</td>
      </tr>
      <tr>
        <td>Monet</td>
      </tr>
      <tr>
        <td>Monte Cassino</td>
      </tr>
      <tr>
        <td>Monuments</td>
      </tr>
      <tr>
        <td>Monuments, Fine Arts and Archives</td>
      </tr>
      <tr>
        <td>Muehlmann, Dr Kajetan</td>
      </tr>
      <tr>
        <td>Museum</td>
      </tr>
      <tr>
        <td>Mussolini, Benito</td>
      </tr>
      <tr>
        <td>National Gallery</td>
      </tr>
      <tr>
        <td>Netherlands</td>
      </tr>
      <tr>
        <td>NSDAP</td>
      </tr>
      <tr>
        <td>Occupied Territory</td>
      </tr>
      <tr>
        <td>Old Masters</td>
      </tr>
      <tr>
        <td>Ornaments</td>
      </tr>
      <tr>
        <td>Overseas Reconstruction Committee</td>
      </tr>
      <tr>
        <td>Painting</td>
      </tr>
      <tr>
        <td>Paris</td>
      </tr>
      <tr>
        <td>Pau</td>
      </tr>
      <tr>
        <td>Pétain, Henri</td>
      </tr>
      <tr>
        <td>Picasso</td>
      </tr>
      <tr>
        <td>Picture</td>
      </tr>
      <tr>
        <td>Pinakothek</td>
      </tr>
      <tr>
        <td>Poland</td>
      </tr>
      <tr>
        <td>Porcelain</td>
      </tr>
      <tr>
        <td>Posse, Hans</td>
      </tr>
      <tr>
        <td>Possessions</td>
      </tr>
      <tr>
        <td>Post-Hostilities Planning Sub-Commission</td>
      </tr>
      <tr>
        <td>Prague</td>
      </tr>
      <tr>
        <td>Prints</td>
      </tr>
      <tr>
        <td>Property</td>
      </tr>
      <tr>
        <td>Property Rights</td>
      </tr>
      <tr>
        <td>Provenance</td>
      </tr>
      <tr>
        <td>Raphael</td>
      </tr>
      <tr>
        <td>Reconstruction Commission</td>
      </tr>
      <tr>
        <td>Reichsbank</td>
      </tr>
      <tr>
        <td>Relics</td>
      </tr>
      <tr>
        <td>Rembrandt</td>
      </tr>
      <tr>
        <td>Renoir</td>
      </tr>
      <tr>
        <td>Reparation</td>
      </tr>
      <tr>
        <td>Reparations, Deliveries and Restitution Division</td>
      </tr>
      <tr>
        <td>Repository</td>
      </tr>
      <tr>
        <td>Reproduction</td>
      </tr>
      <tr>
        <td>Restitution</td>
      </tr>
      <tr>
        <td>Restitution Law</td>
      </tr>
      <tr>
        <td>Restitution Mission</td>
      </tr>
      <tr>
        <td>Restoration</td>
      </tr>
      <tr>
        <td>Rijksmuseum, Amsterdam</td>
      </tr>
      <tr>
        <td>Ribbentrop, Joachim Von</td>
      </tr>
      <tr>
        <td>Roberts Commission</td>
      </tr>
      <tr>
        <td>Rome</td>
      </tr>
      <tr>
        <td>Roosevelt, Franklin D.</td>
      </tr>
      <tr>
        <td>Rothschild Collection</td>
      </tr>
      <tr>
        <td>Royal Academy of Arts</td>
      </tr>
      <tr>
        <td>Rubens</td>
      </tr>
      <tr>
        <td>Safehaven</td>
      </tr>
      <tr>
        <td>Schenker Papers</td>
      </tr>
      <tr>
        <td>Schloss</td>
      </tr>
      <tr>
        <td>Sculpture</td>
      </tr>
      <tr>
        <td>Secretary of State for War</td>
      </tr>
      <tr>
        <td>Securities</td>
      </tr>
      <tr>
        <td>Seizure</td>
      </tr>
      <tr>
        <td>Seyss-Inquart, Arthur</td>
      </tr>
      <tr>
        <td>Shaef</td>
      </tr>
      <tr>
        <td>Silver</td>
      </tr>
      <tr>
        <td>Sourches</td>
      </tr>
      <tr>
        <td>Spiridon</td>
      </tr>
      <tr>
        <td>SS</td>
      </tr>
      <tr>
        <td>Stalin, Joseph</td>
      </tr>
      <tr>
        <td>Steering Committee</td>
      </tr>
      <tr>
        <td>Stocks</td>
      </tr>
      <tr>
        <td>Stout, George</td>
      </tr>
      <tr>
        <td>Tanzenberg Library</td>
      </tr>
      <tr>
        <td>Tapestries</td>
      </tr>
      <tr>
        <td>Tate Gallery</td>
      </tr>
      <tr>
        <td>Textile</td>
      </tr>
      <tr>
        <td>Theft</td>
      </tr>
      <tr>
        <td>Titian</td>
      </tr>
      <tr>
        <td>Trade </td>
      </tr>
      <tr>
        <td>Trading with the Enemy Department</td>
      </tr>
      <tr>
        <td>Transfer</td>
      </tr>
      <tr>
        <td>Treasure</td>
      </tr>
      <tr>
        <td>Trophies</td>
      </tr>
      <tr>
        <td>Tuscany</td>
      </tr>
      <tr>
        <td>Uffizi</td>
      </tr>
      <tr>
        <td>Unidentified Property</td>
      </tr>
      <tr>
        <td>UK</td>
      </tr>
      <tr>
        <td>United Nations </td>
      </tr>
      <tr>
        <td>United Restitution Office</td>
      </tr>
      <tr>
        <td>US</td>
      </tr>
      <tr>
        <td>USSR</td>
      </tr>
      <tr>
        <td>Utikal, Gerhard</td>
      </tr>
      <tr>
        <td>Valland, Rose</td>
      </tr>
      <tr>
        <td>Valuables</td>
      </tr>
      <tr>
        <td>Van Gogh</td>
      </tr>
      <tr>
        <td>Vatican</td>
      </tr>
      <tr>
        <td>Vaucher Commission</td>
      </tr>
      <tr>
        <td>Vaucher, Paul</td>
      </tr>
      <tr>
        <td>Vermeer</td>
      </tr>
      <tr>
        <td>Victoria and Albert Museum</td>
      </tr>
      <tr>
        <td>Villa</td>
      </tr>
      <tr>
        <td>Voss, Hermann</td>
      </tr>
      <tr>
        <td>Wallace Collection</td>
      </tr>
      <tr>
        <td>Wallraf-Richartz Museum, Cologne</td>
      </tr>
      <tr>
        <td>Ward-Perkins, J. B.</td>
      </tr>
      <tr>
        <td>War Loss and Damage Register</td>
      </tr>
      <tr>
        <td>Warsaw</td>
      </tr>
      <tr>
        <td>Washington</td>
      </tr>
      <tr>
        <td>Watercolour</td>
      </tr>
      <tr>
        <td>Watteau</td>
      </tr>
      <tr>
        <td>Wehrmacht</td>
      </tr>
      <tr>
        <td>Wildenstein Collection</td>
      </tr>
      <tr>
        <td>Woolley, Leonard</td>
      </tr>
      <tr>
        <td>Works of Art</td>
      </tr>
      <tr>
        <td>World Jewish Congress</td>
      </tr>
      <tr>
        <td>Yugoslavia</td>
      </tr>
      <tr>
        <td>Ziegler, Adolf</td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}
