<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>International Research: Nazi-Era Cultural Property (IRP2 Demo)</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="jumbotron.css" rel="stylesheet">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--script type="text/javascript" src="./lib/translate.js"></script>
  <script type="text/javascript" src="./lib/languages.js"></script-->

<script type="text/javascript">
function emailCurrentPage(){
  window.location.href="mailto:?subject="+document.title+"&body="+escape(window.location.href)
}
</script>

<style type="text/css">
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  input.text {width:200px; margin-left:20px}
  #searchbox {width: auto}
  .header img {margin-right:10px}

  fieldset {
      margin: 1em;
      font-size: smaller;
  }
  table.adsearch td {
      padding:5px 10px 5px 0px;
      vertical-align:top;
      }
  table.adsearch select {
      padding:1px 0px;
      margin-left:20px;
      -webkit-appearance: menulist-button;
      height:26px;
      }
  .results td{
      border: 1px solid #e6e6e6;
      }
  .detail td {
      padding:5px 10px 5px 0px;
      vertical-align:center;
      border: 1px solid #e6e6e6;
      }
</style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">IRP2</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/search">Search</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              About <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/about">About this Portal Demo</a></li>
              <li><a href="/collections">Collections &amp; Institutions</a></li>
              <li><a href="http://www.archives.gov/research/holocaust/international-resources/glossary-sort.html">Guide to Search Terms</a></li>
              <li><a href="http://www.archives.gov/research/holocaust/international-resources/whats-new.html">NARA Portal News</a></li>
              <li><a href="http://www.archives.gov/research/holocaust/international-resources/other-resources.html">NARA Portal Resources</a></li>
              <li><a href="http://www.archives.gov/research/holocaust">Holocaust-Era Assets at NARA</a></li>
            </ul>
          </li>
{%if '_uname' in session %}
          <li><a href="/saved">Saved Searches</a></li>
          <li><a href="/settings">Settings</a></li>
{%endif%}
        </ul>
{%if not '_uname' in session%}
        <form method="POST" action="/tologin" autocomplete="on" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" name="username" required="required" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" required="required" placeholder="Password" class="form-control">
          </div>
          <button type="submit" value="Login" class="btn btn-success">Sign in</button>
        </form>
        <form method="POST" action="/join" class="navbar-form navbar-right">
          <button type="submit" class="btn btn-primary">Join</button>
        </form>
{%endif%}
{%if '_uname' in session %}
        <form method="GET" action="/logout" class="navbar-form navbar-right">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <ul class="nav navbar-nav navbar-right"><li><p class="navbar-text">{{ session['_uname'] }}</p></li></ul>
{%endif%}
      </div>
    </div>
  </nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="jumbotron">
    <div class="container">
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}

  <div id="footer"></div>
</body>
</html>
