{% extends "layout.html" %}
{% block body %}
    {% if results.translated_terms %}
      <p style="text-align: center"><b>Translations: {% for term in results.translated_terms %}{{ term }} &nbsp;&nbsp;{% endfor %}</b></p>
    {% endif %}

    <!--<h3>Result for <b>"{{ inputs.general }}"</b> :</h3>-->
    <div style="border:1px solid black; border-radius: 25px;overflow:auto;margin:auto;position:relative;width:692px;height:auto;">
      {% for inst in archivesList %}
      {% if loop.index0 is divisibleby 2 %}
      <div style="clear: both"/>
      {% endif %}
      <div class="result" style="border:1px solid black;border-radius:25px;width:320px;height:auto;padding:2em 2em 2em 2em;margin-left:10px;margin-top:10px;float:left;">
        <div style="float: right; margin: 0.5el; font-size: smaller">
          <a href="{{ inst.info_url }}">
            <img height="56" src="static/{{ inst.logo }}">
              <br />learn more
          </a>
        </div>
        <p><b>{{ inst.name }}</b></p>
        {% for coll in inst.collections %}
        {% if results.collections[coll.class] %}
        {% set result = results.collections[coll.class] %}
        {% if result.results_formdata %}
        <form action="{{ result.results_url }}" method="POST" target="_blank">{{ result.results_count }} results in {{ coll.name }}
          {% for key, value in result.results_formdata.items() %}<input type="hidden" name="{{ key|e }}" value="{{ value|e }}"/>{% endfor %}
          <button type="submit">view results</button>
        <br />
        {% if coll.fields is defined %}fields: {% for field in coll.fields %}{% if field in inputs and inputs[field].strip() != '' %}<span class="active-field">{{ field }}</span> {% else %}<span class="inactive-field">{{ field }}</span> {% endif %} {% endfor %}{% endif %}
        </form>
        {% else %}
        <p><a href="{{ result.results_url }}" target="_blank"> {{ result.results_count }} results in {{ coll.name }}</a><br />
        {% if coll.fields is defined %}fields: {% for field in coll.fields %}{% if field in inputs and inputs[field].strip() != '' %}<span class="active-field">{{ field }}</span> {% else %}<span class="inactive-field">{{ field }}</span> {% endif %} {% endfor %}{% endif %}
        </p>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>

      {% endfor %}
    </div>

{% endblock %}
