{% extends "layout.html" %}

{% block body %}
<div class="container">
<div id="join">
  <h2>Account Settings</h2>
  <h3>NOT YET IMPLEMENTED</h3>
  <p>Important Account Information:<br/>
    <ul>
      <li>Please review our privacy policy (link TBD)</li>
      <li>Note: This is only a prototype. Accounts may be deleted at any time.</li>
    </ul>
  </p>
  <form id="join-form" method="POST" action="/tosettings" autocomplete="on">
    <p>
      <label for="usernamesignup" class="uname">Your Name</label>
      <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="Pat Smith" />
    </p>
    <p>
      <label for="emailsignup" class="youmail">Your email</label>
      <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="patsmith@example.com"/>
    </p>
    <p>
      <label for="passwordsignup" class="youpasswd" >New password</label>
      <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
    </p>
    <p>
      <label for="passwordsignup_confirm" class="youpasswd" >Confirm new password</label>
      <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
    </p>
    <p>
      <button type="submit" class="btn btn-success">Update</button>
    </p>
    </p>
  </form>
</div>
</div>
{% endblock %}
